<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/styles.css">
		<title>Document</title>
	</head>
	<body>
		<nav>
			<a href="/product">Back to Product Index</a>
		</nav>
		<h3><%= product.name %></h3>
        <br/>
        <img src=<%= product.img %>>
        <br/>
        <br/>
		<h3>Price: <%= product.price %></h3>
        <br/>
        Quantity: <input type="number" name="quantity" /><br />
        <br/>
        <button>Checkout</button>
        <br/>
        <br/>
    
        
	</body>
</html>