<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Product List</title>
	</head>
	<body>
        <nav>
            <a href="/product/new">Add a New Product</a>
        </nav>
		<h1>Product Index Page</h1>
		<main>
			<% product.forEach(product => { %>
			<h2><%= product.name %></h2> 
                <a href="/product/<%= product._id; %>"><img src=<%= product.img %>></a>
        
			<% }) %>
		</main>
	</body>
</html>